<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <title>Items</title>
</head>
<body id="beachBody">
  

  <h1 id="homeBar"> 
    <%= title %> 
  </h1>



  <div id="list">
  <% beaches.forEach(b => { %>
    <li>
      to find out more about
        <a href="/beach/<%= b.id %>"> <%= b.title %> </a> 
      </li>
    <% }) %>
  </div>
<div id="homeGroup">
  <a href="/beach/new"> make a new Location</a>
  <a id="homeButton" href="/">HOME</a>
</div>

</body>
</html>