<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title></title>
</head>
<body class="area">

  <div class="indexBar">
    <h1 class="header"> 
      Beaches / Water  Locations
    </h1>

    <div id="iconPosition">
      <a href="/">
        <img class="headIcon" src="https://cdn-icons-png.flaticon.com/512/1946/1946436.png" alt="">
      </a>
      <a href="/beach">
        <img class="headIcon" src="https://cdn-icons-png.flaticon.com/512/2347/2347758.png" alt="">
      </a>
      <img class="headIcon" src="https://cdn-icons-png.flaticon.com/512/1551/1551074.png" alt="">
      <img class="headIcon" src="https://cdn-icons-png.flaticon.com/512/63/63610.png" alt="">
    </div>

  </div>

  <div id="list">
    <% beaches.forEach(b => { %>
      <li>
        <%= b.title %>: 
        <a href="/beach/<%= b._id %>">details</a>
      </li>
      <% }) %>
  </div>


<ul class="circles">
  <li></li>
  <li>
    <img src="https://cdn-icons-png.flaticon.com/512/4859/4859293.png" alt="" style="height: 100px; width: 90px; background: none;">
  </li>
  <li>
    <img src="https://cdn-icons-png.flaticon.com/512/8827/8827459.png" alt="" style="height: 110px; width: 90px; background: none;">
  </li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>


</body>
</html>