<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Urban Exploring</title>
</head>
<body class="area">
  
  <div id="urbanBar">
    <h1 class="header"> 
      Urban Exploring
    </h1>

    <div id="iconPosition">
      <a href="/">
        <img class="headIcon" src="https://cdn-icons-png.flaticon.com/512/1946/1946436.png" alt="">
      </a>
      <a href="/beach">
        <img class="headIcon" src="https://cdn-icons-png.flaticon.com/512/2347/2347758.png" alt="">
      </a>
      <a href="/mountain">
        <img class="headIcon" src="https://cdn-icons-png.flaticon.com/512/281/281568.png" alt="">
      </a>
      <a href="/urban">
        <img class="headIcon" src="https://cdn-icons-png.flaticon.com/512/63/63610.png" alt="">
      </a>
    </div>
  </div>

  <p id="indexP">
    Here is where our explorers can take a new approach to adventure, by delving into what has been left behind by man. Finding new areas that were forgotten by their makers, but rediscovered by those would seek them out. This includeds all man made structures that have been abandonded for any number of reasons, whether its inside or outside of the city. 
  </p>

  <div id="beachAreas">
    <% urbans.forEach(u => { %> 
      <div id="beachDiv">
        See 
        <a href="/urban/<%= u._id %>">details</a>
        for:
        <%= u.title %> 
      </div>
    <% }) %> 
    
    </form>
  </div>

  

<div id="homeGroup">
  <a href="/urban/new">Add your Location !</a>
  <a id="homeButton" href="/">HOME</a>
</div>


</body>
</html>